body {
    background-image: url("japan.jpg");
    background-size:cover;
    padding: 0;
    margin: 0;

    
}
header {
    background-color:rgba(217, 0, 241, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header h1 {
    padding: 0;
    margin: 0;
}
header ul {
    padding: 0;
    margin: 0;
    list-style: none ;
}
header ul li {
    display: inline-block;
}